:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
  max-width: 2048px;
  height: 100dvh;  

  --color-secondary  : #fff;
  --color-danger : red;
  --color-primary: #2c7da0;
  --color-septenary: #bde0fe;
}
  
*, *::before, *::after {
  box-sizing: border-box;
}


body {
  margin: 0;
  
}
   
footer{  
  background-color: var(--color-primary);
  color: var(--color-septenary);
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;    
  bottom: 0;
  z-index: 0;
}